NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000
LANDING_URL=http://localhost/SourceMedX/smx-site/src

# postgres database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=smx

# JWT
## Must be same as JWT_SECRET in smx-frontend/.env.local
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret

REDIS_URL=redis://localhost:6379

# Email
EMAIL_PROVIDER=mailerSend
## Sendgrid
SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY
SENDGRID_SENDER_EMAIL=support@sourcemedx.com
SENDGRID_TEMPLATE_ID_RESET_PASSWORD=YOUR_SENDGRID_TEMPLATE_ID_RESET_PASSWORD
## MailerSend
MAILERSEND_API_KEY=your_mailersend_api_key
MAILERSEND_SENDER_EMAIL=your-sender@example.com
MAILERSEND_TEMPLATE_ID_RESET_PASSWORD=your_mailersend_template_id_reset_password
MAILERSEND_TEMPLATE_ID_NEWSLETTER_SIGNUP=your_mailersend_template_id_newsletter_signup
# AI
## azure or openai
AI_PROVIDER=openai
## openai
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4-turbo
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
## Azure OpenAI
AZURE_OPENAI_API_KEY=your_azure_openai_api_key
AZURE_OPENAI_API_INSTANCE_NAME=your-azure-instance-name
AZURE_OPENAI_API_DEPLOYMENT_NAME=gpt-4-turbo
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_VERSION=2023-05-15
##  BioGPT Integration
HUGGINGFACE_API_KEY=your_huggingface_api_key

# Medical Official Resource
MEDLINE_API_KEY=your_medline_api_key

# Search Key Configuration
SEARCH_KEY_REWARD_REGISTER=2
SEARCH_KEY_EXPIRATION_DAYS=30
SEARCH_KEY_BASE_PRICE=10.00
SEARCH_KEY_SMALL_BUNDLE=5
SEARCH_KEY_SMALL_DISCOUNT=5
SEARCH_KEY_LARGE_BUNDLE=20
SEARCH_KEY_LARGE_DISCOUNT=10

# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_SUCCESS_URL=http://localhost:3000/billing/stripe/successUrl
STRIPE_CANCEL_URL=http://localhost:3000/billing/stripe/cancelUrl
